<div class="jumbotron">
    <h1 class="about">Norfolk</h1>
    <p id="p1"> Select your demographics below :  </p>
    <form id="p2" >
        <hr/>
        <p class="pheading">Race </p>
        <select name="race">
            <option value="" selected="true">Any</option>
            <option value="Black">African American</option>
            <option value="Asian">Asian</option>
            <option value="White">Cacausian</option>
            <option value="Hispanic">Hispanic</option>
        </select>
        <br>
        <p class="pheading">Language </p>
        <select name="Language">
            <option value="">Any</option>
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="French">French</option>
            <option value="Tagolog">Tagolog</option>
        </select>
        <br>
        <p class="pheading">Business Type</p>
        <select name="Language">
            <option value="accommodation">Accommodation</option>
            <option value="foodservices">Food Service</option>
            <option value="manufacturing">Manufacturing</option>
            <option value="healthcare">Health Care</option>
            <option value="healthcare">Professional Service</option>
        </select>
        <br>
        <p class="pheading">Gender </p>
        <input type="radio" name="sex" value="" checked> Any
        <input type="radio" name="sex" value="male" checked> Male
        <br>
        <input type="radio" name="sex" value="female"> Female
        <br>
        <p class="pheading">Age </p>
        Min:
        <input type="text" name="mina" size="3" maxlength="3">
        <br>
        <br>
        Max:
        <input type="text" name="maxa" size="3" maxlength="3">
        <br>
        <p class="pheading">Population</p>
        Min:
        <input type="text" name="mini" size="10" maxlength="15">
        <br>
        <br>
        Max:
        <input type="text" name="maxi" size="10" maxlength="15">
        <br>
        <p class="pheading">Language </p>
        <select name="Language">
            Language
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="French">French</option>
            <option value="Tagolog">Tagolog</option>
        </select>
        <br>
        <p class="pheading">Household Income </p>
        Min:
        <input type="text" name="mini">
        <br>
        <br>
        Max:
        <input type="text" name="maxi">
        <br><br>
        <input type="submit">
    </form>
    </form> 
</div>